.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.times_new_roman {
    font-family: 'Times New Roman', Times, serif;
}

.segoe_ui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}
